.card-loading{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
  z-index: 100;
  padding: 25px 25px;
  border-radius: 10px;
  display: none;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #05408D;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}